#imgsec .row h2{
    color: black;
    font-weight: 800;
    text-align: center;
    padding: 50px 0px;
 }
 
 #imgsec .row .col-lg-3 .card{
     height: 540px;
     border: none;
 }
 #imgsec .row .col-lg-3 .card .a{
     height: 380px;
 }
 #imgsec .row .col-lg-3 .card .b{
     padding: 0px 10px;
    height: 100px;

 }
 #imgsec .row .col-lg-3 .card .b p{
  color: black;
  word-break: break-all;
  font-family: serif;
  font-weight: 500;
  /* word-spacing: 2px; */
  /* text-align: center; */
  /* word-break: break-all; */
    font-family: serif;

}
 #imgsec .row .col-lg-3 .card .c{
    padding: 0px 10px;
   height: 60px;

}
 #imgsec .row .col-lg-3 .card .a img{
     height: 100%;
     width: 100%;
    border-radius: 5%;

 }
 #imgsec .row .col-lg-3 .card .b h5{
    color: black;
    font-weight: 700;
    margin-top: 20px;
    font-size: 17px;
    word-spacing: 2px;
 }
  #imgsec .row .col-lg-3 .card .c button{
   border: none;
   color: white;
   background-color:chocolate;
   padding: 7px 17px;
   width: 100%;
   font-weight: 900;
   letter-spacing: 1px;
   margin-top: 10px;
  }
  /* #imgsec .row .col-lg-3 .card .b .btn{
    
    margin-top: 35px;
  }
  #imgsec .row .col-lg-3 .card .b .btnn{
    
    margin-top: 15px;
  } */