a{
    text-decoration: none;
  
}
.nav-link{
    /* color:rgb(100, 0, 0); */
    color: black;
    font-weight:900;
    font-size: 17px;
    letter-spacing:1px ;
    /* text-shadow: 1px 1px 0px rgb(56, 2, 2); */
}
.nav-link:hover{
    text-shadow: none;
    color:red;
    text-shadow: 1px 1px 1px black;
    font-weight: 900;
    font-size: 17px;
}


#login,#signup{
    font-weight: 800;
    font-size: 17px;
}
.navbar-brand{
    font-weight: 900;
    font-size: 24px;
}
.navbar-brand span{
    color: chocolate;
}
hr{
    border: 2px solid black;
}

.offcanvas-title{
    color: chocolate;
     font-weight: 900;
    font-size: 24px;
}
#supp{
    color: green;
    font-weight: 900;
    font-size: 17px;
}

.offcanvas-title span{
    color:black;
    
}
#dropdwn {
text-align: center;
border-bottom: 3px solid white  ;
border-left: 3px solid white  ;
border-right: 3px solid white  ;

box-shadow: none;

}

/* #dropdown :hover{
    display: block;
} */

#dropdwn a {
color: white;
font-weight: 900;
text-shadow:none;
letter-spacing: 1px; 
font-size: 17px;
margin-top: 0px;

}
#dropdwn a:hover{
color: rgb(255, 0, 0);
font-weight: 900;
text-shadow:none;
letter-spacing: 1px; 
border: none;
/* background-color: white; */
font-size: 17px;

}

#login{
    /* background-color: red; */
    background-color: rgb(253, 123, 30);
}
#login a{
color: white;
letter-spacing: 2px;
}

#logout{
    /* background-color: red; */
    background-color: rgb(253, 123, 30);
}
#logout a{
color: white;
}